<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="genesis_plus_gx_addr_error" values="enabled|disabled" default="enabled"/>
		<setting label="30002" type="select" id="genesis_plus_gx_bios" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="genesis_plus_gx_blargg_ntsc_filter" values="disabled|monochrome|composite|svideo|rgb" default="disabled"/>
		<setting label="30004" type="select" id="genesis_plus_gx_bram" values="per bios|per game" default="per bios"/>
		<setting label="30005" type="select" id="genesis_plus_gx_dac_bits" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="genesis_plus_gx_force_dtack" values="enabled|disabled" default="enabled"/>
		<setting label="30007" type="select" id="genesis_plus_gx_gg_extra" values="disabled|enabled" default="disabled"/>
		<setting label="30008" type="select" id="genesis_plus_gx_gun_cursor" values="no|yes" default="no"/>
		<setting label="30009" type="select" id="genesis_plus_gx_invert_mouse" values="no|yes" default="no"/>
		<setting label="30010" type="select" id="genesis_plus_gx_lcd_filter" values="disabled|enabled" default="disabled"/>
		<setting label="30011" type="select" id="genesis_plus_gx_lock_on" values="disabled|game genie|action replay (pro)|sonic &amp; knuckles" default="disabled"/>
		<setting label="30012" type="select" id="genesis_plus_gx_overscan" values="disabled|top/bottom|left/right|full" default="disabled"/>
		<setting label="30013" type="select" id="genesis_plus_gx_region_detect" values="auto|ntsc-u|pal|ntsc-j" default="auto"/>
		<setting label="30014" type="select" id="genesis_plus_gx_render" values="single field|double field" default="single field"/>
		<setting label="30015" type="select" id="genesis_plus_gx_system_hw" values="auto|sg-1000|sg-1000 II|mark-III|master system|master system II|game gear|mega drive / genesis" default="auto"/>
		<setting label="30016" type="select" id="genesis_plus_gx_ym2413" values="auto|disabled|enabled" default="auto"/>
	</category>
</settings>